html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 40px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.tubuh{
    display: block;
    width: 70%;
    margin: 0 auto;
    border: 2px solid chocolate;
}
header{
    background-color:burlywood;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}
.body{
    height: 100%;
    border-top: 3px solid white;
}
.left{
    float: left;
    width: 40%;
    height: 100%;
    border-right: 4px solid #fff;
    background-color: #fff8dc;
}
.left-wrapper{
    padding: 15px 35px 0px 35px;
    line-height: 30px;
}
.left-header{
    padding: 5px 5px 0 5px;
    margin-bottom: 20px;
}
.left-header-logo{
    width: 100px;
    height: auto;
}
h3{
    font-size: 15pt;
}
.left-footer{
    padding: 5px 5px 0 5px;
    color: white;
    background-color: #7f461b;
}
.left-footer-logo{
    margin: 5px;
}
.left-footer-logo .logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
.wa{
    background-color: green;
    border-radius: 100%;
}
.right{
    height: 100%;
    background-color: azure;
    padding-right: 20px;
    line-height: 1.5em;
}
.lesson{
    padding-top: 30px;
}
.lesson-wrapper{
    padding-bottom: 20px;
}
.lesson-wrapper p{
    font-size: 20pt;
}
